.boardGame{
    width: 100%;        
    padding:0 15%;
}

.dice{
    position: fixed;
}

.tile{
    border: 1px solid black;
    height: 6em;
    width: 10.5em;
    margin: 2px;
    padding: 20px;
    border-radius: 200px;
    
}

.trap{
    background-color: rgba(255, 000, 000,0.5 );
}