                            //characters

.characterBody{
    overflow-y: hidden;
}


.characterVid{    
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}                            
                            
.characters{
    margin-top: 50px;
    padding: 50px;
    height: 50vh;    
}

.card{    
    text-align: center;
    width: 100%;
    color: white;
    transition: all .5s ease-in-out;
    & img{
        width: 100%;
        margin: 0;
    }
    & h2{
        font-weight: bold;        
    }
    & button{
        background-color: transparent;
        border: none;
    }
    & .card--body{
        text-align: left;
        background-color: rgba(000, 000, 000, 0.5);
        padding: 10px;
    }
    & .card--button{
        border: 1px solid black;
    }
}

.carousel-indicators{
    top: 110%;
}

.hero{
    color: white;
}

