//characters

.characterContainer {
    margin-bottom: 10%;
}

.characterBody {
    overflow-x: hidden;
}

.characterVid {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 20%;
    z-index: -1;
}

.characterPageOverlay {
    background: rgba(000, 000, 000, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 10%;
    z-index: -1;
}

.chooseYourCharacter {
    color: white;
    text-align: center;
}

.characterRowOne {
    margin: 5% 0;
}

.card {
    text-align: center;
    width: 100%;
    color: white;

    & img {
        width: 100%;
        margin: 0;
    }

    h2 {
        font-weight: bold;
    }

    button {
        background-color: transparent;
        border: none;
    }

    .card--body {
        text-align: left;
        background-color: rgba(000, 000, 000, 0.9);
        padding: 10px;
    }

    .card--button {
        border: 1px solid white;
        border-radius: 5px;
        padding: 5%;
        transition: all .4s ease-in-out; 
    }

    .card--button:hover {
        background-color: rgba(255, 255, 255, 0.5);
        transform: scale(1.1);
        color: rgb(58, 2, 2);
    }
}