                            //characters
.characters{
    margin-top: 50px;
    background-color: rgba(000, 000, 000, 0.5);
    padding: 50px;
    height: 50vh;
}

.card{    
    //margin: 10px;
    text-align: center;
    width: 100%;
    color: white;
    & img{
        width: 100%;
        margin: 0;
    }
    & h2{
        font-weight: bold;        
    }
    & button{
        background-color: transparent;
        border: none;
    }
    & .card--body{
        text-align: left;
        background-color: rgba(000, 000, 000, 0.8);
        padding: 5px;
    }
    & .card--button{
        border: 1px solid black;
    }
}

.carousel-indicators{
    top: 110%;
}

