*{
    box-sizing: border-box;    
}

.body{
    background-color: black;
}

img{
    width: 40%;
}

.container-fluid{    
    padding: 10px;
    width: 100vw;
}

.navigation{
    position: relative;
    background-color:rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 10px;
    & ul{        
        margin: 0;
    }
    & li{
        list-style-type: none;
        display: inline-block;
    }
    
    & a{
        color: white;
    }
}

