* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.body {
  background-color: black;
}

.navigation {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 20px;
}

.navigation ul {
  margin: 0;
}

.navigation li {
  list-style-type: none;
  display: inline-block;
  margin: 0 20px;
  font-size: 1.2em;
}

.navigation a {
  color: white;
}

.navigation a:hover {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

.hvr-underline-from-center:before {
  background: white !important;
}

.footer {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 25vh;
  padding: 50px;
  bottom: 0;
  margin-bottom: 0;
}

.backgroundVid {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.welcome .content {
  margin-top: 10%;
  position: relative;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  padding: 60px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.welcome .content h2 {
  text-align: center;
  font-size: 5em;
  font-family: blackchancery, sans-serif;
}

.welcome .content h3 {
  text-align: center;
}

.welcome .content ul li {
  font-size: 1.2em;
}

.welcome .content .content--button {
  padding: 10px;
  margin-left: 25%;
  text-align: center;
  background-color: transparent;
  width: 50%;
  border: none;
  -webkit-box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
          box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
}

.welcome .content .content--button a {
  color: #f1f1f1;
}

.welcome .content .content--button a:hover {
  font-size: 1.2em;
}

.characterBody {
  overflow-y: hidden;
}

.characterVid {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.characters {
  margin-top: 50px;
  padding: 50px;
  height: 50vh;
}

.card {
  text-align: center;
  width: 100%;
  color: white;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.card img {
  width: 100%;
  margin: 0;
}

.card h2 {
  font-weight: bold;
}

.card button {
  background-color: transparent;
  border: none;
}

.card .card--body {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.card .card--button {
  border: 1px solid black;
}

.carousel-indicators {
  top: 110%;
}

.hero {
  color: white;
}

.boardBody {
  background-image: url("/media/textures/boardgame_background.jpg");
  background-position: center;
  background-size: contain;
}

.details {
  margin-bottom: 0;
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 5%;
  right: 0;
  bottom: 0%;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.boardGame {
  margin: 2% 0 0 10%;
  padding: 5px;
}

.boardGame img {
  width: 45%;
  height: 45%;
}

.boardGame .tile {
  text-align: center;
  border: 1px solid white;
  color: white;
  height: 5em;
  width: 15%;
  margin: 5px;
  padding: 5px 0;
  border-radius: 20px;
}

.start {
  display: none;
  width: 100%;
}

.player {
  text-align: center;
}

.update {
  color: white;
}

.trap {
  background-color: rgba(255, 0, 0, 0.5);
}

.dicebox {
  text-align: center;
  color: white;
}

.dicebox button {
  color: black;
}

.updates {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */